# <center>Лабораторна робота № 1.<br> Аналіз даних про доходи населення</center>

**В завданні пропонується за допомогою Pandas відповісти на декілька питань за даними репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качати дані не потрібно – вони вже є в директорії роботи).

Унікальні значення ознак (більше інформації за посиланням вище):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [18]:
import pandas as pd

**Доступ до даних на google drive**, якщо ви відкриваєте блокнот в **google colab**, а не на PC, можна отримати шляхом монтування google drive

In [19]:
# from google.colab import drive
# drive.mount('/content/gdrive')

In [20]:
# !ls gdrive/'My Drive'/TEACHING/IntroDataScience/intro_to_data_science/Lab_1_2/data

In [21]:
# шлях до папки з даними на моєму google drive, відредагуйте згідно вашого випадку
data_folder = "data"

In [22]:
#data = pd.read_csv('data/adult.data.csv')
data = pd.read_csv(data_folder+'/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків і жінок (ознака *sex*) представлено в цьому наборі даних?**

In [23]:
sex_counts = data['sex'].value_counts()
print(sex_counts)

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Який середній вік (ознака *age*) жінок?**

In [24]:
average_age_women = data[data['sex'] == 'Female']['age'].mean()
print(average_age_women)

36.85823043357163

**3. Яка частка громадян Німеччини (ознака *native-country*)?**

In [25]:
german_count = data[data['native-country'] == 'Germany'].shape[0]
total_count = data.shape[0]
german_proportion = german_count / total_count
print(german_proportion)

0.004207487485028101

**4-5. Які середні значення і середні відхилення віку тих, хто отримує більше 50K в рік (ознака *salary*) і тих, хто отримує менше 50K в рік? **

In [26]:
mean_age_above_50k = data[data['salary'] == '>50K']['age'].mean()
std_age_above_50k = data[data['salary'] == '>50K']['age'].std()

mean_age_below_50k = data[data['salary'] == '<=50K']['age'].mean()
std_age_below_50k = data[data['salary'] == '<=50K']['age'].std()

print(f"Mean age of those earning >50K: {mean_age_above_50k}")
print(f"Standard deviation of age of those earning >50K: {std_age_above_50k}")
print(f"Mean age of those earning <=50K: {mean_age_below_50k}")
print(f"Standard deviation of age of those earning <=50K: {std_age_below_50k}")

Mean age of those earning >50K: 44.24984058155847
Standard deviation of age of those earning >50K: 10.519027719851826
Mean age of those earning <=50K: 36.78373786407767
Standard deviation of age of those earning <=50K: 14.02008849082488

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* чи *Doctorate*)**

In [27]:
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
higher_education_above_50k = data[data['salary'] == '>50K']['education'].isin(higher_education).all()
print(higher_education_above_50k)

False

**7. Вивести статистику віку для кажної раси (ознака *race*) і кожної статі. Використовуйте *groupby* і *describe*. Знайдіть таким чином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [28]:
age_stats = data.groupby(['race', 'sex'])['age'].describe()
print(age_stats)

max_age_amer_indian_eskimo_male = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]['age'].max()
print(f"Maximum age of Amer-Indian-Eskimo males: {max_age_amer_indian_eskimo_male}")

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
Maximum age of Amer-Indian-Eskimo males: 82

Maximum age of Amer-Indian-Eskimo males: 82

**8. Серед кого більша частка заробляючих багато (>50K): серед одружених чи холостих чоловіків (ознака *marital-status*)? Одруженими вважаємо тих, у кого *marital-status* починається з *Married* (Married-civ-spouse, Married-spouse-absent чи Married-AF-spouse), решту вважаємо холостими.**

In [29]:
married_statuses = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']

married_men = data[(data['sex'] == 'Male') & (data['marital-status'].isin(married_statuses))]
single_men = data[(data['sex'] == 'Male') & (~data['marital-status'].isin(married_statuses))]

married_men_high_earners = married_men[married_men['salary'] == '>50K'].shape[0] / married_men.shape[0]
single_men_high_earners = single_men[single_men['salary'] == '>50K'].shape[0] / single_men.shape[0]

print(f"Proportion of high earners among married men: {married_men_high_earners}")
print(f"Proportion of high earners among single men: {single_men_high_earners}")

Proportion of high earners among married men: 0.4405139945351156
Proportion of high earners among single men: 0.08449509031397745

**9. Яку максимальну кількість годин людина працює за тиждень (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляючих багато?**

In [30]:
max_hours_per_week = data['hours-per-week'].max()
num_people_max_hours = data[data['hours-per-week'] == max_hours_per_week].shape[0]
num_high_earners_max_hours = data[(data['hours-per-week'] == max_hours_per_week) & (data['salary'] == '>50K')].shape[0]
percentage_high_earners_max_hours = (num_high_earners_max_hours / num_people_max_hours) * 100

print(f"Maximum hours per week: {max_hours_per_week}")
print(f"Number of people working {max_hours_per_week} hours per week: {num_people_max_hours}")
print(f"Percentage of high earners among them: {percentage_high_earners_max_hours:.2f}%")

Maximum hours per week: 99
Number of people working 99 hours per week: 85
Percentage of high earners among them: 29.41%

**10. Підрахуйте середній час роботи (*hours-per-week*) заробляючих мало і багато (*salary*) для кожної країни (*native-country*).**

In [31]:
average_hours_per_country = data.groupby(['native-country', 'salary'])['hours-per-week'].mean().unstack()
print(average_hours_per_country)

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000